{% extends base_template %}
{% load i18n xadmin_tags %}
{% load url from future %}
{% load spl_tags %}
{% load pillbox_tags %}

{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block nav_title %}
  {% if icon %}<i class="{{icon}}"></i>{%endif%} {{title}}
{% endblock %}

{% block nav_toggles %}

{% endblock %}

{% block nav_btns %}

{% endblock %}

{% block content %}

    <div role="tabpanel" class="">
        <ul role="tablist" class="nav nav-tabs" id="pillboxTab">
            <!-- <li class="" role="presentation"><a aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" id="home-tab" href="#home">Analytics</a></li> -->
            <li role="presentation" class="active"><a aria-controls="action" data-toggle="tab" id="action-tab" role="tab" href="#action" aria-expanded="false">Actions</a></li>
        </ul>
        <div class="tab-content" id="pillboxTabContent">
            <div aria-labelledby="home-tab" id="home" class="tab-pane fade" role="tabpanel">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div aria-labelledby="action-tab" id="action" class="tab-pane active fade in" role="tabpanel">

                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">1. Download</h2>
                    </div>
                </div>
                <div class="row">
                    {% download_widgets %}
                    {% size_widgets %}
                    <div class="col-lg-3 col-md-6">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">2. Sync SPL <small>updated: {% spl_sync_time %}</small></h2>
                    </div>
                </div>
                <div class="row">
                    {% spl_widgets %}
                </div>
                <div id="spl-sync"></div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">3. Process Pillbox <small>updated: {% pillbox_sync_time %}</small></h2>
                    </div>
                </div>

                <div class="row">
                    {% pillbox_widgets %}
                </div>


            </div>
        </div>
    </div>



    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}
