{% load humanize %}


<div class="col-lg-3 col-md-6">
    <div class="panel panel-{{box.color}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa {{box.icon}} fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{box.name}}</div>
                    <div>{{box.time|timesince}} ago</div>
                </div>
            </div>
        </div>
        <a href="{{box.link}}">
            <div class="panel-footer" id="download-widget-footer" data-action="{{box.action}}">
                <div class="progress hide">
                  <div class="progress-bar" id='overall' role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                  </div>
                </div>

                <div class="progress hide">
                  <div class="progress-bar" id='file-specific' role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                  </div>
                </div>
                <span class="pull-left" id="panel-msg">{{box.text}}</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
