# Basics
*.py[cod]
*.pyc
__pycache__
postgres

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

# databases
*.sqlite3-journal
*.sqlite3

#igonre other system files
.DS_Store
.settings
.env

pillbox_engine.sublime-project
tmp-unzipped
celerybeat-schedule
staticfiles
media
downloads
