/* line 1, ../sass/app.scss */
.huge {
  font-size: 40px;
}

/* line 5, ../sass/app.scss */
.panel-green {
  border-color: #5cb85c;
}
/* line 7, ../sass/app.scss */
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
/* line 12, ../sass/app.scss */
.panel-green a {
  color: #5cb85c;
}
/* line 15, ../sass/app.scss */
.panel-green a:hover {
  color: #3d8b3d;
}

/* line 19, ../sass/app.scss */
.panel-red {
  border-color: #d9534f;
}
/* line 21, ../sass/app.scss */
.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
/* line 26, ../sass/app.scss */
.panel-red a {
  color: #d9534f;
}
/* line 29, ../sass/app.scss */
.panel-red a:hover {
  color: #b52b27;
}

/* line 34, ../sass/app.scss */
.panel-yellow {
  border-color: #f0ad4e;
}
/* line 36, ../sass/app.scss */
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
/* line 41, ../sass/app.scss */
.panel-yellow a {
  color: #f0ad4e;
}
/* line 44, ../sass/app.scss */
.panel-yellow a:hover {
  color: #df8a13;
}

/* line 49, ../sass/app.scss */
.panel-green {
  border-color: #5cb85c;
}
/* line 51, ../sass/app.scss */
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
/* line 56, ../sass/app.scss */
.panel-green a {
  color: #5cb85c;
}
/* line 59, ../sass/app.scss */
.panel-green a:hover {
  color: #3d8b3d;
}

/* line 63, ../sass/app.scss */
.panel-red {
  border-color: #d9534f;
}
/* line 65, ../sass/app.scss */
.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
/* line 70, ../sass/app.scss */
.panel-red a {
  color: #d9534f;
}
/* line 73, ../sass/app.scss */
.panel-red a:hover {
  color: #b52b27;
}

/* line 78, ../sass/app.scss */
.progress {
  background-color: #CCCCCC;
}
