/* line 1, ../sass/app.scss */
.huge {
  font-size: 2em;
}

/* line 5, ../sass/app.scss */
.tab-pane {
  padding: 10px;
}

/* line 9, ../sass/app.scss */
.panel-green {
  border-color: #5cb85c;
}
/* line 11, ../sass/app.scss */
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
/* line 16, ../sass/app.scss */
.panel-green a {
  color: #5cb85c;
}
/* line 19, ../sass/app.scss */
.panel-green a:hover {
  color: #3d8b3d;
}

/* line 23, ../sass/app.scss */
.panel-red {
  border-color: #d9534f;
}
/* line 25, ../sass/app.scss */
.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
/* line 30, ../sass/app.scss */
.panel-red a {
  color: #d9534f;
}
/* line 33, ../sass/app.scss */
.panel-red a:hover {
  color: #b52b27;
}

/* line 38, ../sass/app.scss */
.panel-yellow {
  border-color: #f0ad4e;
}
/* line 40, ../sass/app.scss */
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
/* line 45, ../sass/app.scss */
.panel-yellow a {
  color: #f0ad4e;
}
/* line 48, ../sass/app.scss */
.panel-yellow a:hover {
  color: #df8a13;
}

/* line 53, ../sass/app.scss */
.widget-footer {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
  color: #5cb85c;
}
/* line 58, ../sass/app.scss */
.widget-footer:hover {
  color: #3d8b3d;
}

/* line 63, ../sass/app.scss */
.panel-green {
  border-color: #5cb85c;
}
/* line 65, ../sass/app.scss */
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
/* line 70, ../sass/app.scss */
.panel-green a {
  color: #5cb85c;
}
/* line 73, ../sass/app.scss */
.panel-green a:hover {
  color: #3d8b3d;
}

/* line 77, ../sass/app.scss */
.panel-red {
  border-color: #d9534f;
}
/* line 79, ../sass/app.scss */
.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
/* line 84, ../sass/app.scss */
.panel-red a {
  color: #d9534f;
}
/* line 87, ../sass/app.scss */
.panel-red a:hover {
  color: #b52b27;
}

/* line 92, ../sass/app.scss */
.progress {
  background-color: #CCCCCC;
}
