{% load humanize %}

{% for box in boxes %}
    <div class="col-lg-3 col-md-3" style="height:214px">
        <div class="panel panel-{{box.color}}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa {{box.icon}} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{%if box.count or box.count == 0 %}{{box.count | intcomma}}{% else %}{{box.name}}{% endif %}</div>
                        <div>{% if box.time %}{{box.time|timesince}} ago{% else %}{%if box.count or box.count == 0 %}{{box.name}}{% else %} &nbsp;{% endif %}{% endif %}</div>
                    </div>
                </div>
            </div>
                <div class="panel-footer widget-footer" data-action="{{box.action}}">
                    <div class="widget-progress {% if not box.meta %} hide {% endif %}">
                        <div class="task-name">{{box.meta.file}}</div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{box.meta.percent|default:'0'}}" aria-valuemin="0" aria-valuemax="100" style="width: {{box.meta.percent|default:'0'}}%;">
                            {{box.meta.percent|default:'0'}}%
                          </div>
                        </div>
                    </div>
                    <span class="pull-left" id="panel-msg">{% if box.status %} {{box.status}} {% else %} {{box.text}} {% endif %}</span>
                    <span class="pull-right"><i class="fa {% if box.status %} fa-refresh {% else %} fa-arrow-circle-right {% endif %}"></i></span>
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>
{% endfor %}
